In [2]:
import pandas as pd
import numpy as np

In [3]:
sd='G1 G2 G2 G1 G1 G1 G2'.split()

In [5]:
inside=[1,2,1,2,2,1,1]
hier_index=list(zip(sd,inside))
hier_index= pd.MultiIndex.from_tuples(hier_index)

In [6]:
sd

['G1', 'G2', 'G2', 'G1', 'G1', 'G1', 'G2']

In [7]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2]],
           labels=[[0, 1, 1, 0, 0, 0, 1], [0, 1, 0, 1, 1, 0, 0]])

In [12]:
df=pd.DataFrame(np.random.randn(7,2),hier_index,['A','B'])

In [13]:
df

             A         B
G1 1  1.758839 -0.764315
G2 2 -2.072136  0.289702
   1 -0.282547  1.817810
G1 2  1.038671 -1.583499
   2  0.125207 -0.866995
   1 -1.387299  1.575321
G2 1  0.937737  0.518392

In [14]:
df.loc['G1']

          A         B
1  1.758839 -0.764315
2  1.038671 -1.583499
2  0.125207 -0.866995
1 -1.387299  1.575321

In [15]:
df.loc['G2']

          A         B
2 -2.072136  0.289702
1 -0.282547  1.817810
1  0.937737  0.518392

In [18]:
df.loc['G1'].loc[1]

          A         B
1  1.758839 -0.764315
1 -1.387299  1.575321

In [20]:
#group indexing df.index.names=['for outer groups','for inner group']
df.index.names=['Groups','Num']

In [21]:
df

                   A         B
Groups Num
G1     1    1.758839 -0.764315
G2     2   -2.072136  0.289702
       1   -0.282547  1.817810
G1     2    1.038671 -1.583499
       2    0.125207 -0.866995
       1   -1.387299  1.575321
G2     1    0.937737  0.518392

In [22]:
df.loc['G1'].loc[1]['B']

Num
1   -0.764315
1    1.575321
Name: B, dtype: float64

In [26]:
#cross section method
df.xs(1,level='Num')

               A         B
Groups
G1      1.758839 -0.764315
G2     -0.282547  1.817810
G1     -1.387299  1.575321
G2      0.937737  0.518392